@media screen and (max-width:480px){
    main{
        display: grid;
        background-color: deeppink;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(10, 150px);
        gap: 10px;
    }
    
    div:first-child{
        grid-area: 1;
    }
    div:nth-child(2){
        grid-area: 2;
    }
    div:nth-child(3){
        grid-area: 3;
    }
    div:nth-child(4){
        grid-area: 4;
    }
    div:nth-child(5){
        grid-area: 5;
    }
    div:nth-child(6){
        grid-area: 6;
    }
    div:nth-child(7){
        grid-area: 7;
    }
    div:nth-child(8){
        grid-area: 8;
    }
    div:nth-child(9){
        grid-area: 9;
    }
    div:nth-child(10){
        grid-area: 10;
    }
}

ul{
    list-style-type: none;
}
li{
    background-color: pink ;
    background: linear-gradient(45deg, pink 50%, purple 50% );

    width: 30%;
    border: 2em double;
    margin-bottom: 25px;
    padding: 50px;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    background-color: blueviolet;
    border-bottom: double;
}

body{
    background: url(https://images.unsplash.com/photo-1442323794357-25b2ec110967?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8OXwyMzA0MDE1fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    text-align: left blue;
}
